body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #927f99 0%, #301f31 100%);
}

.user-data {
    padding-top: 48px;
    margin-bottom: 0;
    text-align: center;
}

.header {
    padding-top: 32px;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #1b1d1e;
    text-align: center;
}

.subscribe {
    font-family: "Montserrat", sans-serif;
    border-radius: 30px;
    border: white 1px solid;
    color: rgb(31, 31, 31);
    background-color: white;
    padding: 12px 24px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.7s, color 0.7s, box-shadow 0.7s;
}

.subscribe:hover {
    background-color: transparent;
    color: white;
    box-shadow: #4b4b4b 0px 0px 20px;
}

.about {
    width: 100%;
    height: auto;
    color: white;
}

.user-avatar {
    box-shadow: 0px 0px 20px rgb(59, 59, 59);
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.user-name {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 18px;
}

.subscribe-form {
    display: none;
    margin-top: 20px;
}

.thanks {
    display: none;
    margin-top: 20px;
}

.subscribe-button {
    font-family: "Montserrat", sans-serif;
    border-radius: 30px;
    border: white 1.5px solid;
    color: rgb(31, 31, 31);
    background-color: white;
    padding: 8px 16px;
    height: 35px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.7s, color 0.7s;
}

.subscribe-button:hover {
    background-color: transparent;
    color: white;
}

.subscribe-form input {
    font-family: "Montserrat", sans-serif;
    border-radius: 30px;
    border: 1.5px solid #1b1d1e;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 300;
    margin-right: 10px;
}

.user-skills {
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
    color: rgb(228, 228, 228);
}

.user-links {
    margin-top: 16px;
    margin-bottom: 0;
}

.user-links-container {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-links-button {
    font-family: "Montserrat", sans-serif;
    padding: 0 30px;
    border-radius: 30px;
    border: white 1px solid;
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 400px;
    height: 60px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
}

.user-links-button:hover {
    background-color: rgba(250, 250, 250, 0.4);
    color: black;
}
